apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: model
  name: model
spec:
  replicas: 2
  selector:
    matchLabels:
      app: model
  strategy: {}
  template:
    metadata:
      labels:
        app: model
    spec:
      containers:
      - image: pnapat/house-price-model:latest
        name: house-price-model
        ports:
        # - containerPort: 8000
        # This is revised to serve the added metrics endpoint for Prometheus integration
        - containerPort: 8000
        - containerPort: 9100

        # resources: {}         # Selfnote: This file is created with kubectl create deployment --dry-run=client -o yaml, so it includes some default fields like 'resources' and 'strategy' which are empty. We can customize these as needed.
        resources:
          requests:
            cpu: "50m"
            memory: "64Mi"
          limits:
            cpu: "100m"
            memory: "128Mi"
status: {}
